/src/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
/src/bootstrap/compiled.php
/src/app/storage/

# Laravel 5 & Lumen specific
/src/public/storage
/src/public/hot

# Laravel 5 & Lumen specific with changed public path
/src/public_html/storage
/src/public_html/hot

storage/*.key
/src/Homestead.yaml
/src/Homestead.json
/src/phpunit.result.cache
/.idea
